*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color:black;
    font-family:Arial, Helvetica, sans-serif;
}

.blog-post-card{
    width:420px;
    background:white;
    margin:40px auto;          /* Centers horizontally */
    border-radius:18px #FAF7F5;
    overflow:hidden;
    box-shadow:0 10px 20px #FFFFFF;
    border-radius:8px;
    text-align:center;
}

h1{
    text-align:center;
    padding:15px 5px;
    text-decoration:underline grey;
    text-decoration-thickness:1.5px;
    
}

.prod{
    text-align:right;
    padding:5px;
}

.post-img{
    width:100%;
    height:260px;
    object-fit:cover;
    display:block;
     border-bottom: 1px solid grey;
}

.post-content{
    padding:25px;
    text-align:center;
}

.post-title{
    font-size:20px;
    color:#222;
    margin-bottom:25px;
}

.post-excerpt{
    font-size:20px;
    color:#666;
    line-height:1.5;
    margin-bottom:25px;
}

.read-more{
    display:inline-block;
    background:#333;
    color:white;
    padding:14px 28px;
    margin:10px;
    font-size:22px;
    border-radius:18px;
    text-decoration:none;
}

.read-more:hover{
    background-color:#555;
    color:purple;
}

hr{
    margin:10px;
}