html,body{
  height:100%;
  /* margin:0px; */
}

body{
  background:radial-gradient(circle at top ,#1a0b2e,#05070f,#000)
}

.todo-list{
  background:rgba(15,18,30,0.75);
  backdrop-filter:blur(12px);
  border-radius:18px;
  padding:20px;
  border:1px solid rgba(124,58,237,0.3);
  width:420px;
  margin:50px auto;
}

h1{
  font-size:28px;
  text-align:center;
  letter-spacing:3px;
  color:#c4b5fd;
  text-transform:uppercase;
  text-shadow:0 0 10px #7c3aed;
  font-family:orbitron,sans-serif;
}


.todo-list li {
  background: rgba(255,255,255,0.04);
  border: 1px solid rgba(124,58,237,0.2);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 12px;
  font-family:"Rajdhani",sans-serif;
  font-size:20px;
  font-weight:600;
}

.todo-list li:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 15px rgba(124,58,237,0.4);
  transition: 0.3s;
}

input[type="checkbox"] {
  accent-color: #7c3aed;
  width: 18px;
  height: 18px;
}

label {
  font-size: 16px;
  color: #f8fafc;
  cursor: pointer;
  margin-left: 8px;
}

input:checked + label {
  text-decoration: line-through;
  color: #6b7280;
}

.sub-item-link {
  text-decoration: none;
  font-family:"Exo 2",sans-serif;
  font-size:15px;
  font-weight:500;
}

.sub-item-link:link {
  color: #60a5fa;
}

.sub-item-link:visited {
  color: #a78bfa;
}

.sub-item-link:hover {
  color: #22d3ee;
}

.sub-item-link:active {
  color: #ef4444;
}

.sub-item-link:focus {
  outline: 2px solid #facc15;
  outline-offset: 3px;
}

.sub-item {
  list-style: none;
  margin-top: 10px;
  margin-left: 20px;
}

.todo-list{
    list-style:none;
}

h2{
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 2px;
    color: #94a3b8;
    text-align: center;
    margin-bottom: 35px;
    text-transform: uppercase;
    text-shadow: 0 0 6px rgba(59,130,246,.5);
}

.todo-list > li{
    position:relative;
    padding-left:40px;
}
